.header{
    padding-top: rem(180px);
    background-color: #F8FBFD;
    z-index: 2;
    overflow: hidden;

    .blurred-circle--left{
        width: rem(704px);
        transform: translateX(-50%);
        top: 25%;
    }

    &__container{
        align-items: stretch;

        .items{
            margin: rem(40px) 0 0; 
        }

        .button{
            margin: rem(40px) 0 0;
        }
    }

    &__textWrapper{
        width: 48%;
        padding: rem(50px) 0;
    }

    &__imageWrapper{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex: 1;

        .blurred-circle{
            width: rem(600px);
            top: 10%;
        }

        picture{
            display: flex;
            animation: slide-up .6s ease-in-out forwards;
            position: relative;
            z-index: 2;
        }

        @keyframes slide-up {
            0% {
              transform: translateY(100%);
              opacity: 0;
              filter: blur(rem(10px));
            }
            100% {
              transform: translateY(0);
              opacity: 1;
              filter: blur(0);
            }
        }
    }
}

@media (max-width: $breakpoint-lg) {
    .header{
        padding-top: rem(120px);
    }
}

@media (max-width: $breakpoint-md) {
    .header{
        &__textWrapper{
            padding-top: 0;
        }

        &__imageWrapper{
            width: 35%;
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .header{
        &__textWrapper{
            width: 100%;
        }

        &__imageWrapper{
            img{
                max-width: rem(400px);
                width: 100%;
            }
        }
    }
}