.boxes{
    &--benefits{
        .boxes__box{
            padding-right: rem(20px);

            .headline-4,
            .icon{
                margin-bottom: rem(24px);
            }
        }
    }

    &--white{
        .boxes__box{
            background: color(page, neutral-0);
            border-radius: 8px;
            padding: rem(32px);
        }
    }

    &__box{
        width: calc(100% / 3 - 14px);
        text-align: left;

        .perex{
            color: color(page, neutral-8);
        }
        
        .perex{
            margin-bottom: rem(20px);
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .boxes{
        &--white{
            .boxes__box{
                padding: rem(20px);
            }
        }

        &__box{
            width: calc(100% / 2 - rem(5px));
        }
    }
}

@media (max-width: $breakpoint-xs) {
    .boxes{
        &__box{
            width: 100%;
        }
    }

    .boxes.boxes--benefits.flex{
        gap: rem(40px);
    }
}