.button{
    display: table;
    border-radius: 4px;
    height: rem(56px);
    padding: 0 rem(16px);
    transition: .3s ease-in-out;

    .perex{
        font-weight: 500;
        line-height: rem(56px);
        padding-left: rem(34px);
        position: relative;
        color: color(page, neutral-0);

        &::before{
            content: '';
            position: absolute;
            width: rem(24px);
            height: rem(24px);
            left: 0;    
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &--register{
        .perex{
            &::before{
                background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_20_9)"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.472 14.4143C15.8006 14.4313 17.1225 14.6049 18.4104 14.9315C19.8054 15.2394 21.1374 15.7837 22.3488 16.5407C22.8346 16.7946 23.2438 17.1736 23.5341 17.6386C23.8243 18.1036 23.9852 18.6376 24 19.1855V21.5999H4.8V19.1855C4.84926 18.6283 5.0406 18.093 5.35574 17.6308C5.67087 17.1686 6.09927 16.795 6.6 16.5455C7.81136 15.7886 9.14342 15.2447 10.5384 14.9375C11.8262 14.6101 13.1482 14.436 14.4768 14.4191L14.472 14.4143ZM14.472 11.9999C13.6282 12.0054 12.7988 11.7819 12.072 11.3531C11.3493 10.9324 10.7462 10.3338 10.32 9.61434C9.8879 8.89405 9.66246 8.06868 9.6684 7.22874C9.66455 6.37999 9.88965 5.54591 10.32 4.81434C10.7394 4.08208 11.3435 3.47261 12.072 3.04674C12.8022 2.62305 13.6314 2.3999 14.4756 2.3999C15.3198 2.3999 16.149 2.62305 16.8792 3.04674C17.6077 3.47261 18.2118 4.08208 18.6312 4.81434C19.0614 5.54598 19.2865 6.38002 19.2828 7.22874C19.2895 8.06878 19.064 8.89434 18.6312 9.61434C18.2054 10.3344 17.6022 10.9335 16.8792 11.3543C16.1522 11.7823 15.3228 12.0054 14.4792 11.9999H14.472ZM1.2 9.59994C0.88174 9.59994 0.576516 9.72637 0.351472 9.95141C0.126428 10.1765 0 10.4817 0 10.7999C0 11.1182 0.126428 11.4234 0.351472 11.6485C0.576516 11.8735 0.88174 11.9999 1.2 11.9999H2.4V13.1999C2.4 13.5182 2.52643 13.8234 2.75147 14.0485C2.97652 14.2735 3.28174 14.3999 3.6 14.3999C3.91826 14.3999 4.22348 14.2735 4.44853 14.0485C4.67357 13.8234 4.8 13.5182 4.8 13.1999V11.9999H6C6.31826 11.9999 6.62348 11.8735 6.84853 11.6485C7.07357 11.4234 7.2 11.1182 7.2 10.7999C7.2 10.4817 7.07357 10.1765 6.84853 9.95141C6.62348 9.72637 6.31826 9.59994 6 9.59994H4.8V8.39994C4.8 8.08168 4.67357 7.77646 4.44853 7.55141C4.22348 7.32637 3.91826 7.19994 3.6 7.19994C3.28174 7.19994 2.97652 7.32637 2.75147 7.55141C2.52643 7.77646 2.4 8.08168 2.4 8.39994V9.59994H1.2Z" fill="white"/></g><defs><clipPath id="clip0_20_9"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
            }
        }
    }

    &--login{
        background-color: color(page, green);

        &:hover{
            background: darken($color: color(page, green), $amount: 6%);
        }

        .perex{
            &::before{
                background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 11.8984C10.8402 11.8984 9.84975 11.4878 9.02855 10.6666C8.20735 9.84535 7.79675 8.85486 7.79675 7.69508C7.79675 6.53529 8.20735 5.5458 9.02855 4.7266C9.84975 3.9074 10.8402 3.4978 12 3.4978C13.1598 3.4978 14.1503 3.9074 14.9715 4.7266C15.7927 5.5458 16.2033 6.53529 16.2033 7.69508C16.2033 8.85486 15.7927 9.84535 14.9715 10.6666C14.1503 11.4878 13.1598 11.8984 12 11.8984ZM3.79675 18.0299V17.2897C3.79675 16.6871 3.95255 16.1324 4.26415 15.6255C4.57575 15.1186 4.99115 14.7322 5.51035 14.4663C6.55564 13.9456 7.61959 13.5541 8.7022 13.2918C9.7848 13.0295 10.8841 12.8984 12 12.8984C13.1239 12.8984 14.2272 13.0285 15.3098 13.2888C16.3924 13.5492 17.4524 13.9397 18.4897 14.4603C19.0089 14.7263 19.4243 15.1117 19.7359 15.6166C20.0475 16.1215 20.2033 16.6792 20.2033 17.2897V18.0299C20.2033 18.6596 19.9816 19.1962 19.5381 19.6397C19.0946 20.0831 18.558 20.3049 17.9283 20.3049H6.07178C5.44206 20.3049 4.90546 20.0831 4.46198 19.6397C4.01849 19.1962 3.79675 18.6596 3.79675 18.0299Z" fill="white"/></svg>');
            }
        }
    }

    &--blue{
        background-color: color(page, link);

        &:hover{
            background: color(page, link-hover);
        }
    }

    &--white{
        background-color: color(page, neutral-0);

        &:hover{
            background: darken($color: color(page, neutral-0), $amount: 12%);
        }

        .perex{
            color: color(page, neutral-8);

            &::before{
                background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_20_360)"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.472 14.4144C15.8006 14.4314 17.1225 14.605 18.4104 14.9316C19.8054 15.2395 21.1374 15.7837 22.3488 16.5408C22.8346 16.7947 23.2438 17.1737 23.5341 17.6387C23.8243 18.1036 23.9852 18.6377 24 19.1856V21.6H4.8V19.1856C4.84926 18.6284 5.0406 18.0931 5.35574 17.6309C5.67087 17.1687 6.09927 16.795 6.6 16.5456C7.81136 15.7887 9.14342 15.2448 10.5384 14.9376C11.8262 14.6101 13.1482 14.4361 14.4768 14.4192L14.472 14.4144ZM14.472 12C13.6282 12.0054 12.7988 11.7819 12.072 11.3532C11.3493 10.9324 10.7462 10.3339 10.32 9.6144C9.8879 8.89411 9.66246 8.06874 9.6684 7.2288C9.66455 6.38005 9.88965 5.54597 10.32 4.8144C10.7394 4.08214 11.3435 3.47266 12.072 3.0468C12.8022 2.62311 13.6314 2.39996 14.4756 2.39996C15.3198 2.39996 16.149 2.62311 16.8792 3.0468C17.6077 3.47266 18.2118 4.08214 18.6312 4.8144C19.0614 5.54604 19.2865 6.38007 19.2828 7.2288C19.2895 8.06884 19.064 8.8944 18.6312 9.6144C18.2054 10.3345 17.6022 10.9335 16.8792 11.3544C16.1522 11.7824 15.3228 12.0055 14.4792 12H14.472ZM1.2 9.6C0.88174 9.6 0.576516 9.72643 0.351472 9.95147C0.126428 10.1765 0 10.4817 0 10.8C0 11.1183 0.126428 11.4235 0.351472 11.6485C0.576516 11.8736 0.88174 12 1.2 12H2.4V13.2C2.4 13.5183 2.52643 13.8235 2.75147 14.0485C2.97652 14.2736 3.28174 14.4 3.6 14.4C3.91826 14.4 4.22348 14.2736 4.44853 14.0485C4.67357 13.8235 4.8 13.5183 4.8 13.2V12H6C6.31826 12 6.62348 11.8736 6.84853 11.6485C7.07357 11.4235 7.2 11.1183 7.2 10.8C7.2 10.4817 7.07357 10.1765 6.84853 9.95147C6.62348 9.72643 6.31826 9.6 6 9.6H4.8V8.4C4.8 8.08174 4.67357 7.77652 4.44853 7.55147C4.22348 7.32643 3.91826 7.2 3.6 7.2C3.28174 7.2 2.97652 7.32643 2.75147 7.55147C2.52643 7.77652 2.4 8.08174 2.4 8.4V9.6H1.2Z" fill="%23212121"/></g><defs><clipPath id="clip0_20_360"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
            }
        }
    }
}