.button{
    display: table;
    border-radius: 4px;
    height: rem(56px);
    padding: 0 rem(16px);
    transition: .3s ease-in-out;

    &__text{
        font-weight: 500;
        line-height: rem(56px);
        padding-left: rem(34px);
        position: relative;
        color: color(page, neutral-0);

        &::before{
            content: '';
            position: absolute;
            left: 0;    
            top: 50%;
            transform: translateY(-50%);
            background-size: cover !important;
        }
    }

    &--form{
        background-color: color(page, green);

        &:hover{
            background: darken($color: color(page, green), $amount: 6%);
        }

        .button__text{
            padding-left: 0;
        }
    }

    &--register{
        .button__text{
            &::before{
                background: url('data:image/svg+xml,<svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.472 12.0144C15.8006 12.0314 17.1225 12.205 18.4104 12.5316C19.8054 12.8395 21.1374 13.3838 22.3488 14.1408C22.8346 14.3947 23.2438 14.7737 23.5341 15.2387C23.8243 15.7037 23.9852 16.2377 24 16.7856V19.2H4.8V16.7856C4.84926 16.2284 5.0406 15.6931 5.35574 15.2309C5.67087 14.7687 6.09927 14.3951 6.6 14.1456C7.81136 13.3887 9.14342 12.8448 10.5384 12.5376C11.8262 12.2101 13.1482 12.0361 14.4768 12.0192L14.472 12.0144ZM14.472 9.60004C13.6282 9.60549 12.7988 9.38195 12.072 8.95324C11.3493 8.53249 10.7462 7.93393 10.32 7.21444C9.8879 6.49415 9.66246 5.66878 9.6684 4.82884C9.66455 3.98009 9.88965 3.14601 10.32 2.41444C10.7394 1.68218 11.3435 1.0727 12.072 0.64684C12.8022 0.223151 13.6314 0 14.4756 0C15.3198 0 16.149 0.223151 16.8792 0.64684C17.6077 1.0727 18.2118 1.68218 18.6312 2.41444C19.0614 3.14608 19.2865 3.98011 19.2828 4.82884C19.2895 5.66888 19.064 6.49444 18.6312 7.21444C18.2054 7.93453 17.6022 8.53356 16.8792 8.95444C16.1522 9.3824 15.3228 9.60549 14.4792 9.60004H14.472ZM1.2 7.20004C0.88174 7.20004 0.576516 7.32647 0.351472 7.55151C0.126428 7.77656 0 8.08178 0 8.40004C0 8.7183 0.126428 9.02352 0.351472 9.24857C0.576516 9.47361 0.88174 9.60004 1.2 9.60004H2.4V10.8C2.4 11.1183 2.52643 11.4235 2.75147 11.6486C2.97652 11.8736 3.28174 12 3.6 12C3.91826 12 4.22348 11.8736 4.44853 11.6486C4.67357 11.4235 4.8 11.1183 4.8 10.8V9.60004H6C6.31826 9.60004 6.62348 9.47361 6.84853 9.24857C7.07357 9.02352 7.2 8.7183 7.2 8.40004C7.2 8.08178 7.07357 7.77656 6.84853 7.55151C6.62348 7.32647 6.31826 7.20004 6 7.20004H4.8V6.00004C4.8 5.68178 4.67357 5.37656 4.44853 5.15151C4.22348 4.92647 3.91826 4.80004 3.6 4.80004C3.28174 4.80004 2.97652 4.92647 2.75147 5.15151C2.52643 5.37656 2.4 5.68178 2.4 6.00004V7.20004H1.2Z" fill="white"/></svg>');
                width: rem(24px);
                height: rem(19px);
            }
        } 
    }

    &--login{
        background-color: color(page, green);

        &:hover{
            background: darken($color: color(page, green), $amount: 6%);
        }

        .button__text{
            &::before{
                background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.672 12.0144C11.0006 12.0314 12.3225 12.205 13.6104 12.5316C15.0054 12.8395 16.3374 13.3838 17.5488 14.1408C18.0346 14.3947 18.4438 14.7737 18.7341 15.2387C19.0243 15.7037 19.1852 16.2377 19.2 16.7856V19.2H0V16.7856C0.0492616 16.2284 0.240602 15.6931 0.555737 15.2309C0.870872 14.7687 1.29927 14.3951 1.8 14.1456C3.01136 13.3887 4.34342 12.8448 5.7384 12.5376C7.02617 12.2101 8.34815 12.0361 9.6768 12.0192L9.672 12.0144ZM9.672 9.60004C8.82822 9.60549 7.99877 9.38195 7.272 8.95324C6.54931 8.53249 5.94621 7.93393 5.52 7.21444C5.0879 6.49415 4.86246 5.66878 4.8684 4.82884C4.86455 3.98009 5.08965 3.14601 5.52 2.41444C5.93939 1.68218 6.54349 1.0727 7.272 0.64684C8.00219 0.22315 8.83139 0 9.6756 0C10.5198 0 11.349 0.22315 12.0792 0.64684C12.8077 1.0727 13.4118 1.68218 13.8312 2.41444C14.2614 3.14608 14.4865 3.98011 14.4828 4.82884C14.4895 5.66888 14.264 6.49444 13.8312 7.21444C13.4054 7.93453 12.8022 8.53356 12.0792 8.95444C11.3522 9.3824 10.5228 9.60549 9.6792 9.60004H9.672Z" fill="white"/></svg>');
                width: rem(19px);
                height: rem(19px);
            }
        }
    }

    &--blue{
        background-color: color(page, link);

        &:hover{
            background: color(page, link-hover);
        }
    }

    &--white{
        background-color: color(page, neutral-0);

        &:hover{
            background: darken($color: color(page, neutral-0), $amount: 12%);
        }

        .button__text{
            color: color(page, neutral-8);

            &::before{
                background: url('data:image/svg+xml,<svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.472 12.0144C15.8006 12.0314 17.1225 12.205 18.4104 12.5316C19.8054 12.8395 21.1374 13.3838 22.3488 14.1408C22.8346 14.3947 23.2438 14.7737 23.5341 15.2387C23.8243 15.7037 23.9852 16.2377 24 16.7856V19.2H4.8V16.7856C4.84926 16.2284 5.0406 15.6931 5.35574 15.2309C5.67087 14.7687 6.09927 14.3951 6.6 14.1456C7.81136 13.3887 9.14342 12.8448 10.5384 12.5376C11.8262 12.2101 13.1482 12.0361 14.4768 12.0192L14.472 12.0144ZM14.472 9.60004C13.6282 9.60549 12.7988 9.38195 12.072 8.95324C11.3493 8.53249 10.7462 7.93393 10.32 7.21444C9.8879 6.49415 9.66246 5.66878 9.6684 4.82884C9.66455 3.98009 9.88965 3.14601 10.32 2.41444C10.7394 1.68218 11.3435 1.0727 12.072 0.64684C12.8022 0.223151 13.6314 0 14.4756 0C15.3198 0 16.149 0.223151 16.8792 0.64684C17.6077 1.0727 18.2118 1.68218 18.6312 2.41444C19.0614 3.14608 19.2865 3.98011 19.2828 4.82884C19.2895 5.66888 19.064 6.49444 18.6312 7.21444C18.2054 7.93453 17.6022 8.53356 16.8792 8.95444C16.1522 9.3824 15.3228 9.60549 14.4792 9.60004H14.472ZM1.2 7.20004C0.88174 7.20004 0.576516 7.32647 0.351472 7.55151C0.126428 7.77656 0 8.08178 0 8.40004C0 8.7183 0.126428 9.02352 0.351472 9.24857C0.576516 9.47361 0.88174 9.60004 1.2 9.60004H2.4V10.8C2.4 11.1183 2.52643 11.4235 2.75147 11.6486C2.97652 11.8736 3.28174 12 3.6 12C3.91826 12 4.22348 11.8736 4.44853 11.6486C4.67357 11.4235 4.8 11.1183 4.8 10.8V9.60004H6C6.31826 9.60004 6.62348 9.47361 6.84853 9.24857C7.07357 9.02352 7.2 8.7183 7.2 8.40004C7.2 8.08178 7.07357 7.77656 6.84853 7.55151C6.62348 7.32647 6.31826 7.20004 6 7.20004H4.8V6.00004C4.8 5.68178 4.67357 5.37656 4.44853 5.15151C4.22348 4.92647 3.91826 4.80004 3.6 4.80004C3.28174 4.80004 2.97652 4.92647 2.75147 5.15151C2.52643 5.37656 2.4 5.68178 2.4 6.00004V7.20004H1.2Z" fill="%23212121"/></svg>');
                width: rem(24px);
                height: rem(19px);
            }
        }
    }
}