.langSelector,
.langDialog{
    align-items: center;
    justify-content: flex-start;
    position: relative;

    &:hover{
        .navigation__langMenu{
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: color(page, neutral-2);
            border-radius: rem(4px);    
            padding: rem(16px) rem(20px);
            transform: translateY(90%);
        }

        .langSelector__currentLang--white{
            color: color(page, neutral-0);
        }
    }

    &__langBox{
        width: 100%;
        padding: rem(12px) rem(20px);
        border-radius: rem(4px);
        margin-top: rem(10px);
        box-shadow: 0 1px 4px rgba($color: #000000, $alpha: .15);
        transition: .3s ease-in-out;
        position: relative;
        justify-content: flex-start;
        align-items: center;
        gap: rem(10px);

        &:hover{
            background: color(page, neutral-2);

            .langSelector__checkBox{
                border: 1px solid color(page, media);
            }
        }

        &--active{
            background: color(page, neutral-2);

            .langSelector__checkBox{
                border: 1px solid color(page, media);

                &::before{
                    background: color(page, media);
                }
            }
        }
    }

    &__checkBox{
        width: rem(18px);
        height: rem(18px);
        background: color(page, neutral-0);
        border: 1px solid color(page, neutral-3);
        border-radius: rem(100px);
        position: relative;
        transition: .3s ease-in-out;

        &::before{
            content: '';
            position: absolute;
            width: rem(10px);
            height: rem(10px);
            border-radius: rem(100px);
            background: color(page, neutral-0);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__currentLang{
        color: color(page, neutral-8);
        font-weight: 500;
        padding-left: rem(26px);
        position: relative;
    
        &::before{
            content: '';
            position: absolute;
            width: rem(18px);
            height: rem(18px);
            border-radius: rem(100px);
            border: rem(1px) solid color(page, neutral-3);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-position: 100%;
        }

        &--white{
            color: color(page, neutral-0);
        }
    
        &--cz{
            &::before{
                background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_71_673" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16"><rect width="16" height="16" rx="8" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_71_673)"><path d="M-2 13.3333C-2 14.8059 -0.806 15.9999 0.666667 15.9999H15.3333C16.806 15.9999 18 14.8059 18 13.3333V7.33325H-2V13.3333Z" fill="%23C62D25"/><path d="M15.3333 0H0.666667C-0.806 0 -2 1.194 -2 2.66667V8H18V2.66667C18 1.194 16.806 0 15.3333 0Z" fill="white"/><path d="M-1.12267 15.2627L8 7.96475L-1.12267 0.666748C-1.658 1.15475 -2 1.85075 -2 2.63141V13.2981C-2 14.0794 -1.658 14.7754 -1.12267 15.2627Z" fill="%231E427B"/></g></svg>');
            }
        }
    
        &--sk{
            &::before{
                background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_71_701" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16"><circle cx="8" cy="8" r="8" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_71_701)"><path d="M0 5H16V11H0V5Z" fill="%23204C9E"/><path d="M2.13333 0H13.8667C15.0443 0 16 1.12 16 2.5V5H0V2.5C0 1.12 0.955733 0 2.13333 0Z" fill="white"/><path d="M13.8667 16L2.13333 16C0.955733 16 -8.34465e-07 14.88 -8.34465e-07 13.5V11L16 11V13.5C16 14.88 15.0443 16 13.8667 16Z" fill="%23DB362F"/><path d="M10.5938 4.1145C10.5938 4.1145 10.6987 5.30384 10.6987 7.68317C10.684 10.1132 9.07831 11.3432 7.89969 11.9898C6.72108 11.3432 5.11602 10.1132 5.10071 7.68317C5.10071 5.30384 5.20555 4.1145 5.20555 4.1145H10.5938Z" fill="%23DB362F"/><path d="M7.66233 10.59V7.61531C6.77234 7.61531 6.51965 7.70464 6.25342 7.79531C6.27816 7.49131 6.27816 7.18531 6.25342 6.88131C6.51965 6.97264 6.77234 7.06131 7.66233 7.06131V6.23464C7.38138 6.23464 6.99381 6.24731 6.54792 6.41931C6.57325 6.11464 6.57325 5.80797 6.54792 5.5033C6.99381 5.67264 7.38138 5.68597 7.66233 5.68597C7.66233 5.44664 7.59695 4.93131 7.51449 4.50464C7.7713 4.53064 8.02929 4.53064 8.2861 4.50464C8.20364 4.93064 8.13826 5.44597 8.13826 5.68597C8.41921 5.68597 8.80678 5.6733 9.25267 5.5033C9.22734 5.80797 9.22734 6.11464 9.25267 6.41931C8.80678 6.24731 8.41921 6.23464 8.13826 6.23464V7.06131C9.02825 7.06131 9.28094 6.97197 9.54717 6.88131C9.52243 7.18531 9.52243 7.49131 9.54717 7.79531C9.28094 7.70397 9.02825 7.61531 8.13826 7.61531V10.59H7.66233Z" fill="white"/><path d="M7.89972 11.9894C8.63069 11.5881 9.52599 10.9614 10.1038 9.96411C10.0997 9.95477 10.0973 9.94344 10.0938 9.93411C9.76395 9.14477 9.16551 9.02277 8.75792 9.66144C8.70549 9.52211 8.64541 9.39544 8.57886 9.28477C8.1047 8.49744 7.41673 8.66544 7.04212 9.66144C6.87308 9.39677 6.66221 9.25211 6.44487 9.25211C6.13976 9.25211 5.87176 9.53477 5.698 9.96677C6.27641 10.9628 7.16935 11.5881 7.89972 11.9894Z" fill="%23204C9E"/><path d="M7.89971 12.1167L7.85553 12.0927C7.06154 11.6567 6.45074 11.1627 5.98895 10.582C5.33927 9.76533 5.00648 8.79067 5 7.684C5 5.326 5.10426 4.11533 5.10543 4.10333L5.11427 4H10.6857L10.6946 4.10333C10.6957 4.11533 10.8 5.326 10.8 7.68333C10.7929 8.79067 10.4601 9.76533 9.81105 10.582C9.34868 11.1627 8.73846 11.6573 7.94447 12.0927L7.89971 12.1167ZM5.29863 4.22933C5.27448 4.566 5.20203 5.72667 5.20203 7.68333C5.20851 8.73133 5.52363 9.65533 6.13915 10.4287C6.57502 10.9767 7.15107 11.446 7.89971 11.8627C8.64834 11.446 9.22439 10.9767 9.66026 10.4287C10.2758 9.65533 10.5909 8.73133 10.5974 7.68267C10.5974 5.72667 10.5255 4.566 10.5008 4.22933H5.29863Z" fill="white"/></g></svg>');
            }
        }
    
        &--en{
            &::before{
                background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_71_730" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16"><circle cx="8" cy="8" r="8" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_71_730)"><path d="M15.3333 0H0.666667C-0.806093 0 -2 1.19391 -2 2.66667V13.3333C-2 14.8061 -0.806093 16 0.666667 16H15.3333C16.8061 16 18 14.8061 18 13.3333V2.66667C18 1.19391 16.8061 0 15.3333 0Z" fill="%23071B65"/><path d="M0.734011 0H0.666678C-0.653989 0 -1.74332 0.962667 -1.95532 2.22267L15.266 16H15.3333C16.654 16 17.7433 15.0373 17.9553 13.7773L0.734011 0Z" fill="white"/><path d="M12.1667 9.99993H10.5L17.1227 15.2979C17.3807 15.0626 17.592 14.7799 17.742 14.4599L12.1667 9.99993Z" fill="%23B92932"/><path d="M-1.74203 1.53924L3.8333 5.9999H5.49997L-1.1227 0.701904C-1.3807 0.937238 -1.59203 1.21924 -1.74203 1.53924Z" fill="%23B92932"/><path d="M0.666678 16H0.734011L17.9553 2.22267C17.7433 0.962 16.654 0 15.3333 0H15.266L-1.95532 13.7773C-1.74332 15.038 -0.653989 16 0.666678 16Z" fill="white"/><path d="M10 0H6V16H10V0Z" fill="white"/><path d="M18 6H-2V10H18V6Z" fill="white"/><path d="M9.33332 0H6.66666V16H9.33332V0Z" fill="%23B92932"/><path d="M18 9.33341V6.66675L-2 6.66675V9.33341L18 9.33341Z" fill="%23B92932"/><path d="M16.148 0.139893L10 5.05723V5.99989H10.5L17.1287 0.706559C16.8493 0.450559 16.5167 0.259226 16.148 0.139893Z" fill="%23B92932"/><path d="M-1.11465 15.3047C-0.838655 15.5541 -0.511988 15.7421 -0.149988 15.8594L6.00001 10.9394V10.0007H5.50001L-1.11465 15.3047Z" fill="%23B92932"/></g></svg>');
            }
        }

        &--hu{
            &::before{
                background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_59_3507" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16"><circle cx="8" cy="8" r="8" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_59_3507)"><g clip-path="url(%23clip0_59_3507)"><path d="M-10 -1H26V17H-10" fill="%23477050"/><path d="M-10 -1H26V11H-10" fill="white"/><path d="M-10 -1H26V5H-10" fill="%23CE2939"/></g></g><defs><clipPath id="clip0_59_3507"><rect width="36" height="18" fill="white" transform="translate(-10 -1)"/></clipPath></defs></svg>');
            }
        }

        &--de{
            &::before{
                background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_59_3506" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16"><circle cx="8" cy="8" r="8" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_59_3506)"><g clip-path="url(%23clip0_59_3506)"><path d="M23.3333 -1H-7V17.2H23.3333V-1Z" fill="black"/><path d="M23.3333 5.06665H-7V17.2H23.3333V5.06665Z" fill="%23DD0000"/><path d="M23.3333 11.1333H-7V17.2H23.3333V11.1333Z" fill="%23FFCE00"/></g></g><defs><clipPath id="clip0_59_3506"><rect width="30.3333" height="18.2" fill="white" transform="translate(-7 -1)"/></clipPath></defs></svg>');
            }
        }

        &--at{
            &::before{
                background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_59_3513" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16"><circle cx="8" cy="8" r="8" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_59_3513)"><g clip-path="url(%23clip0_59_3513)"><path d="M24 18.6666H-8V-2.66671H24V18.6666Z" fill="%23C8102E"/><path d="M24 11.5555H-8V4.44443H24V11.5555Z" fill="white"/></g></g><defs><clipPath id="clip0_59_3513"><rect width="32" height="21.3333" fill="white" transform="matrix(1 0 0 -1 -8 18.6666)"/></clipPath></defs></svg>');
            }
        }
    }
}

@media (max-width: $breakpoint-lg){
    .navigation{
        &__langSelector{
            flex-direction: column;
            width: 100%;
            padding: 0;
            text-align: center;
            margin-top: rem(24px); 

            &:hover,
            &:active{
                .navigation__langMenu{
                    position: relative;
                    transform: translateY(0);
                    width: 100%;

                    li{
                        margin: rem(12px) auto 0;

                        &:first-of-type{
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
}